
header h1 {
    color: #832520;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
}

ul {
    list-style: none;
}

nav li a {
    text-decoration-line: none;
    list-style-type: none;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    margin: 20px;
    padding: 20px 0;
}

li {
    display: inline-block;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 20px;
}

.titulos {
    color: #C43331;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

img {
    width: 30%;
    height: auto;
}

header {
    background-color: #D6D5C9;
    width: 100%;
}

footer {
    background-color: #832520;
    padding: 10px 10px;

}

.tour-titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagenPortada {
    width: 400px;
    height: auto;
    border-radius: 200px;
}

.cajaImg {
    width: 300px;
    height: auto;
    margin: 20px auto;
}


.pie {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discografiaImg {
    display: inline-block;
    margin: 20px;
    width: 300px;
}

.disco {
    width: 300px;
}

.logo {
    width: 250px;
}
.infoPortada{
width: 600px;
   margin: 20px;
}
.tarjetas {
    display: flex;
    margin: 20px;
    align-content: center;

}
.discografiaImagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-items: center;
}
.galeriaImagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.tourImagenes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
.imgTour{
    width: 600px;
    height: auto;
}

